@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/*Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0, 6);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold; 
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: w3-text-light-gray;
    color: black;
    box-shadow: 0 0 10px;
}

.text {
    position: relative;
    z-index: 10;
    color: black;
}

*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    
}

.showcase img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 210%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
}

.text h2 {
    margin-top: 0px;
    margin-left: 450px;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1em;
}

.image2{
    align-content: center;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 250px;
    margin-bottom: 0%;
    opacity: 0.9;
}

.text h3 {
    margin-top: 20px;
    margin-left: 250px;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1em;
}

ul{
    margin-top: 20px;
    margin-left: 500px;
    opacity: 0.8;
}

*{
    box-sizing: border-box;
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
    opacity: 0.8;
}

.row ::after{
    content: "";
    display: table;
    clear: both;
    opacity: 0.8;
}

.text h4 {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    text-align: justify;
}
 
.image4{
    align-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 100px;
    margin-bottom: 0%;
    opacity: 0.9;
}

.image5{
    align-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 100px;
    margin-bottom: 0%;
    opacity: 0.9;
}

.image6{
    align-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 100px;
    margin-bottom: 0%;
    opacity: 0.9;
}

.text h6{
    margin-left: 550px;
    font-size: 1em;
    color: white;
}

.text h7{
    margin-left: 500px;
    font-size: 1em;
    font-weight: 700;
    color: white;
}

.text h8{
    margin-left: 550px;
    font-size: 1em;
    font-weight: 700;
    color: white;
}

.text h20{
    font-size: 2em;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 90px;
}

.text p21 {
    margin-top: 100px;
    margin-left: 100px;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}



.text p1 {
    margin-top: 0px;
    margin-left: 100px;
    font-weight: 600;
    line-height: 1em;
}

.text p10 {
    margin-top: 0px;
    margin-left: 100px;
    font-weight: 600;
    line-height: 1em;
}

.text p11 {
    margin-top: 0px;
    margin-left: 100px;
    font-weight: 600;
    line-height: 1em;
}

.text p31 {
    margin-top: 0px;
    margin-left: 100px;
    line-height: 1em;
    color: white;
}

.text p32 {
    margin-top: 0px;
    margin-left: 100px;
    line-height: 1em;
    color: white;
}

.text p33 {
    margin-top: 0px;
    margin-left: 100px;
    line-height: 1em;
    color: white;
}

.text p34 {
    margin-top: 0px;
    margin-left: 100px;
    line-height: 1em;
    color: white;
}

.text p35 {
    margin-top: 0px;
    margin-left: 100px;
    line-height: 1em;
    color: white;
}

.text p36 {
    margin-top: 0px;
    margin-left: 100px;
    line-height: 1em;
    color: white;
}

.text p37 {
    margin-top: 0px;
    margin-left: 100px;
    line-height: 1em;
    color: white;
}

.text p38 {
    margin-top: 0px;
    margin-left: 100px;
    line-height: 1em;
    color: white;
}

.text p39 {
    margin-top: 0px;
    margin-left: 100px;
    line-height: 1em;
    color: white;
}

.image9{
    margin-left: 500px;
    margin-top: 10px;
    opacity: 0.8;
}

.image10{
    margin-left: 500px;
    margin-top: 10px;
    opacity: 0.8;
}

.text p22{
    margin-left: 100px;
}

.text p23{
    margin-left: 100px;
}

.text p24{
    margin-left: 100px;
}

.text p25{
    margin-left: 100px;
}

.text p26{
    margin-left: 100px;
}
