@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  
.showcase img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    opacity: 0.8;
}

.image1{
    align-content: center;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 180px;
    margin-bottom: 0%;
    opacity: 0.8;
}

.text {
    position: relative;
    z-index: 10;
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text h2 {
    font-size: 3em;
    font-weight: 800;
    line-height: 1em;
}

span{
    color: white;
}


.text p {
    font-size: 1.3em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;

}

/*Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0, 6);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold; 
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: w3-text-light-gray; 
    color: black;
    box-shadow: 0 0 10px;
}

*{
    box-sizing: border-box;
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row ::after{
    content: "";
    display: table;
    clear: both;
}


.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: #a2836e;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;

}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #dac292;
    color: black;
}

h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
}

button{
    background: white;
    width: 100px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0, 6);
}

.contact-left h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;

}

.contact-right h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}

.text6 {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 500px;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1em;
    color: black;
}

