@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/*Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0, 6);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold; 
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: w3-text-light-gray;
    color: black;
    box-shadow: 0 0 10px;
}

.text {
    position: relative;
    z-index: 10;
    color: black;
}

*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    
}

.showcase img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
}


.text h2 {
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.img{
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-bottom: 0%;
}

.text p {
    font-size: 1.3em;
    line-height: 1.1em;
    margin: 17px 0;
    font-weight: 400;
    max-width: 700px;
    text-align: justify;
}

*{
    box-sizing: border-box;
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
    opacity: 0.8;
}

.row ::after{
    content: "";
    display: table;
    clear: both;
    opacity: 0.8;
}



